/*----------------
Fonts
---------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*----------------
Global Css
---------------*/
:root {
  --main-color: #ffffff;
  --color-1: #004aad;
  --color-2: #cfe3f2;
  --color-3: #dedede;
  --color-4: #f0f0f0;
  --color-side-active: #f4f7fa;
  --color-side-active-2: #0045a1;
  --color-side-hover-2: #0c55b8;
  --color-bg: #e1dede;
  --color-facebook: #0997ff;
  --color-whatsapp: #05b84d;
  --color-instagram: #ff098e;
  --navbar-height: 70px;
  --shadow-navbar: 0px 2px 7px rgba(0, 0, 0, 0.25);
  --shadow-white-box: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 100;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--color-bg);
  scrollbar-width: thin;
  scrollbar-color: var(--color-1) var(--main-color);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb {
  background: var(--color-1);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1470e9;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

/*----------------
Navbar
---------------*/
.navbar {
  height: var(--navbar-height);
  background-color: var(--main-color);
  padding: 10px 0;
  box-shadow: var(--shadow-navbar);
}

.navbar .navbar-brand {
  width: 250px;
  margin-right: 12px;
}

.navbar .navbar-brand.half-navbar-brand {
  width: 50px;
}

.navbar .navbar-brand img {
  display: block;
  margin: auto;
}

.navbar .navbar-brand .half-logo {
  width: 50px;
}

.navbar .navbar-username {
  margin: 5px;
  padding: 2px 10px;
  background: var(--main-color);
  border: 2px solid var(--color-1);
  border-radius: 25px;
  font-size: 0.85rem;
  color: var(--color-1);
  text-align: center;
  font-style: italic;
}

.navbar .navbar-shop {
  margin: 5px;
  padding: 2px 10px;
  background: var(--main-color);
  border: 2px solid var(--color-1);
  border-radius: 25px;
  font-size: 0.85rem;
  color: var(--color-1);
  text-align: center;
}

.navbar .navbar-shop i {
  margin-right: 5px;
}

.navbar .navbar-profil {
  margin-top: auto;
  margin-bottom: auto;
}
.navbar .navbar-profil .border-profil {
  margin: 0px 5px;
  border: 2px solid var(--color-1);
}

.menu-btn {
  display: none;
}

/*----------------
Sidebar Nav
---------------*/
.sidebar-nav {
  height: 90vh;
  width: 275px;
  padding-bottom: 100px;
  background-color: var(--main-color);
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
}

.sidebar-nav.admin-style {
  height: 90vh;
  width: 275px;
  padding-bottom: 100px;
  background-color: var(--color-1);
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
}

.sidebar-nav.full {
  z-index: 100;
  transition: all 0.5s ease-in-out;
  transform: translateX(0px);
}

.sidebar-nav.half {
  z-index: 100;
  width: 75px;
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}

.sidebar-nav.hide {
  transform: translateX(-275px);
  transition: all 0.5s ease-in-out;
}

.sidebar-item .sidebar-link .fa-angle-right {
  right: 0px;
  cursor: pointer;
  transition: transform 0.5s;
}

.sidebar-item .sidebar-link .rotate {
  transform: rotate(90deg);
}

.sidebar-nav li .nav-treeview i {
  word-wrap: break-word;
  padding-left: 2.2rem;
}

.hide-menu .fa-angle-right {
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.sidebar-nav .nav-treeview {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

.sidebar-nav .sidebarnav-list {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

.sidebarnav-list .sidebar-item-title {
  background-color: var(--main-color);
  padding: 8px 18px;
  font-weight: 500;
  font-size: 1rem;
}

.sidebarnav-list .sidebar-item .title-sidebar-item {
  background-color: var(--main-color);
  padding: 10px 0px;
}

.sidebarnav-list .sidebar-item {
  background-color: var(--main-color);
  font-weight: 200;
  font-size: 0.9rem;
}

.sidebarnav-list .sidebar-item.admin-style {
  background-color: var(--color-1);
  font-weight: 200;
  font-size: 0.9rem;
}

.sidebarnav-list .sidebar-link:hover {
  background: var(--color-side-active);
  cursor: pointer;
}

.sidebarnav-list .sidebar-link.admin-style:hover {
  background: var(--color-side-hover-2);
  cursor: pointer;
}

.sidebarnav-list .sidebar-link {
  width: 100%;
  padding: 12px 18px;
}

.sidebarnav-list .sidebar-link.active {
  background: var(--color-side-active);
  border-left: 3px solid var(--color-1);
  font-weight: 500;
}

.sidebarnav-list .sidebar-link.admin-style.active {
  background: var(--color-side-active-2);
  border-left: 3px solid var(--main-color);
  font-weight: 500;
}

.nav-treeview.collapse.in {
  display: block;
}

.sidebarnav-list .sidebar-item.last-btn {
  border-bottom: 1px solid var(--color-3);
}

.sidebar-nav .sidebar-link {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.sidebar-nav .sidebar-link.admin-style {
  color: var(--main-color);
  background-color: var(--color-1);
  text-decoration: none;
  display: inline-block;
}

.sidebar-nav .sidebar-link i {
  padding-right: 6px;
  font-size: 1rem;
  vertical-align: baseline;
}
.sidebar-nav .sidebar-link span {
  padding-right: 8px;
  font-size: 0.9rem;
  vertical-align: baseline;
}

.sidebar-nav .sidebar-bottom {
  display: none;
}

.sidebar-bottom .sidebar-profil-container {
  background-color: var(--color-4);
  border-radius: 8px;
  display: flex;
  padding-left: 5px;
}

.sidebar-profil-container .profil-container {
  max-width: 60px;
  margin: 8px;
}

.profil-sidebar {
  width: 100%;
  height: auto;
}

.user-name-container {
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}

.user-name-container .user-name {
  margin: 0px;
}

.user-name-container .sidebar-shop {
  max-width: fit-content;
  padding: 2px 10px;
  background: var(--main-color);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  font-size: 0.85rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.user-name-container .sidebar-shop i {
  margin-right: 5px;
}

.sidebar-item .sidebar-link.half .fa-angle-right {
  display: inline;
}

.sidebarnav-list .sidebar-item-title.half {
  display: block;
}

.sidebarnav-list .sidebar-link.half .hide-menu {
  display: inline;
}

.sidebar-nav .sidebar-link.half i {
  font-size: 1rem;
}

.sidebar-nav li .nav-treeview.half i {
  padding-left: 2.2rem;
}

.sidebar-nav .sidebar-link.half i {
  margin-left: 0px;
}

/*----------------
Main Content
---------------*/
/* Default */
.page-container {
  margin-left: 275px;
  margin-top: var(--navbar-height);
}

.page-container .container-fluid {
  padding-top: 20px;
}

.page-container .white-box {
  background-color: var(--main-color);
  margin: 10px 10px;
  box-shadow: var(--shadow-white-box);
  border-radius: 25px;
  padding: 20px;
}

.page-container .white-box .box-title {
  font-weight: 700;
  font-size: 1.2rem;
}

/* Beranda */
.container-head-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}

.container-head-dashboard .head-content {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 20px;
}

.container-head-dashboard .line-separator.left,
.container-head-dashboard .line-separator.right {
  display: flex;
  align-self: stretch;
  content: "";
  border-radius: 5px;
  border: 1px solid var(--color-3);
}

.container-head-dashboard .head-content .content-img {
  border: 1px solid var(--color-1);
  background-color: var(--color-side-active);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-head-dashboard .head-content .content-name {
  line-height: 1.1;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 0px 12px;
}

.container-head-dashboard .head-content .content-value {
  font-size: 2.2rem;
  font-weight: 800;
}

.container-sosmed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.sosmed-facebook {
  background-color: var(--color-facebook);
  max-width: 400px;
  border-radius: 100px;
  padding: 2px 20px;
  margin: 0px 10px;
  color: var(--main-color);
  font-weight: 500;
  box-shadow: var(--shadow-white-box);
}

.sosmed-whatsapp {
  background-color: var(--color-whatsapp);
  max-width: 400px;
  border-radius: 100px;
  padding: 2px 20px;
  margin: 0px 10px;
  color: var(--main-color);
  font-weight: 500;
  box-shadow: var(--shadow-white-box);
}

.sosmed-instagram {
  background-color: var(--color-instagram);
  max-width: 400px;
  border-radius: 100px;
  padding: 2px 20px;
  margin: 0px 10px;
  color: var(--main-color);
  font-weight: 500;
  box-shadow: var(--shadow-white-box);
}

.sosmed-facebook:hover {
  background-color: var(--main-color);
  border: 1px solid var(--color-facebook);
  box-shadow: 0px 3px 1px var(--color-facebook);
  color: var(--color-facebook);
}

.sosmed-whatsapp:hover {
  background-color: var(--main-color);
  border: 1px solid var(--color-whatsapp);
  box-shadow: 0px 3px 1px var(--color-whatsapp);
  color: var(--color-whatsapp);
}

.sosmed-instagram:hover {
  background-color: var(--main-color);
  border: 1px solid var(--color-instagram);
  box-shadow: 0px 3px 1px var(--color-instagram);
  color: var(--color-instagram);
}

/* ---------------
Admin Section
----------------*/
/* Bank Soal-Input Part */
.fr-element.fr-view {
  height: 200px;
}

.custom-box-title {
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--color-2);
  width: fit-content;
  padding: 8px;
  border-radius: 12px;
}

/*----------------
Responsive
---------------*/

@media (max-width: 1020px) {
  /* Main Conten */
  /* Beranda */
  .container-head-dashboard .head-content {
    padding: 10px;
  }

  .container-head-dashboard .head-content .content-img {
    width: 40px;
    height: 40px;
  }

  .container-head-dashboard .head-content .content-img img {
    width: 20px;
    height: 20px;
  }

  .container-head-dashboard .head-content .content-name {
    font-size: 0.8rem;
  }

  .container-head-dashboard .head-content .content-value {
    font-size: 2rem;
  }
}

@media (max-width: 932px) {
  /* Main Conten */
  /* Beranda */
  .container-head-dashboard .head-content {
    padding: 5px;
  }

  .container-head-dashboard .head-content .content-img {
    width: 40px;
    height: 40px;
  }

  .container-head-dashboard .head-content .content-img img {
    width: 20px;
    height: 20px;
  }

  .container-head-dashboard .head-content .content-name {
    font-size: 0.7rem;
  }

  .container-head-dashboard .head-content .content-value {
    font-size: 1.9rem;
  }
}

@media (max-width: 840px) {
  /* Main Conten */
  /* Beranda */
  .container-head-dashboard .head-content .content-img {
    width: 40px;
    height: 40px;
  }

  .container-head-dashboard .head-content .content-img img {
    width: 20px;
    height: 20px;
  }

  .container-head-dashboard .head-content .content-name {
    font-size: 0.65rem;
    margin: 0px 8px;
  }

  .container-head-dashboard .head-content .content-value {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  /* Navbar */
  .menu-btn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger {
    width: 25px;
    height: 4px;
    background: var(--color-1);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background: var(--color-1);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-8px);
  }

  .menu-btn__burger::after {
    transform: translateY(8px);
  }

  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  /* Sidebar Nav */
  .sidebar-item .sidebar-link .fa-angle-right {
    display: none;
  }

  .sidebarnav-list .sidebar-item-title {
    display: none;
  }

  .sidebarnav-list .sidebar-link .hide-menu {
    display: none;
  }

  .sidebar-nav .sidebar-link i {
    font-size: 1.3rem;
    margin-right: 0;
    margin-left: 7px;
  }

  .sidebar-nav li .nav-treeview i {
    font-size: 1.3rem;
    padding-left: 0px;
  }

  .sidebar-nav .sidebar-bottom.half {
    display: block;
    margin: 0px 15px;
  }

  /* Main Content */
  .page-container {
    margin-left: 75px;
  }
}

@media (max-width: 620px) {
  /* Main Content */
  /* Beranda */
  .container-head-dashboard {
    flex-direction: column;
  }

  .container-head-dashboard .head-content {
    width: 210px;
  }

  .container-head-dashboard .head-content .content-img {
    width: 50px;
    height: 50px;
  }

  .container-head-dashboard .head-content .content-img img {
    width: 30px;
    height: 30px;
  }

  .container-head-dashboard .head-content .content-name {
    font-size: 0.95rem;
    margin: 0px 12px;
  }

  .container-head-dashboard .head-content .content-value {
    font-size: 2.2rem;
    right: 0;
  }

  .container-head-dashboard .line-separator.left,
  .container-head-dashboard .line-separator.right {
  }

  .container-sosmed {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  /* Navbar */
  .navbar .navbar-username {
    display: none;
  }

  /* Main Content */
  /* Beranda */
  .container-head-dashboard {
    flex-direction: column;
  }

  .container-sosmed {
    flex-direction: column;
  }

  .container-sosmed .sosmed-facebook {
    margin: 5px 0px;
  }

  .container-sosmed .sosmed-whatsapp {
    margin: 5px 0px;
  }

  .container-sosmed .sosmed-instagram {
    margin: 5px 0px;
  }
}

@media (max-width: 420px) {
  /* Main Content */
  .page-container {
    margin-left: 0px;
  }

  /* Sidebar Nav */
  .sidebar-item .sidebar-link .fa-angle-right {
    display: inline;
  }

  .sidebarnav-list .sidebar-item-title {
    display: block;
  }

  .sidebarnav-list .sidebar-link .hide-menu {
    display: inline;
  }

  .sidebar-nav .sidebar-link i {
    font-size: 1rem;
    margin-left: 0px;
  }

  .sidebar-nav .sidebar-bottom {
    display: block;
    margin: 0px 15px;
  }

  .sidebar-nav li .nav-treeview i {
    font-size: 1rem;
    padding-left: 2.2rem;
  }
}
