/*----------------
Fonts
---------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*----------------
Global Css
---------------*/
:root {
  --main-color: #ffffff;
  --color-1: #004aad;
  --color-2: #cfe3f2;
  --color-3: #dedede;
  --color-4: #f0f0f0;
  --color-5: #13a1dd;
  --color-6: #838383;
  --color-side-active: #f4f7fa;
  --color-side-active-2: #0045a1;
  --color-side-hover-2: #0c55b8;
  --color-danger-border: rgb(255, 0, 0);
  --color-danger: rgb(250, 178, 178);
  --color-warning-border: rgb(255, 208, 0);
  --color-warning: rgb(250, 231, 178);
  --color-bg: #e1dede;
  --color-facebook: #0997ff;
  --color-whatsapp: #05b84d;
  --color-instagram: #ff098e;
  --navbar-height: 70px;
  --color-question-number-active: rgba(5, 184, 77, 0.64);
  --shadow-navbar: 0px 2px 7px rgba(0, 0, 0, 0.25);
  --shadow-white-box: 0px 1px 4px rgba(0, 0, 0, 0.25);
  --shadow-white-table: 0px 1px 4px rgba(0, 0, 0, 0.35);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 100;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--color-bg);
  scrollbar-width: thin;
  scrollbar-color: var(--color-1) var(--main-color);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb {
  background: var(--color-1);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1470e9;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

a {
  text-decoration: none;
}

.alert__box {
  font-size: 0.8rem;
  background-color: var(--color-2);
  padding: 0px 10px;
  border-radius: 5px;
  /* text-align: center; */
  width: fit-content;
  font-weight: 400;
  margin-top: 5px;
}

.alert__box span {
  font-weight: 600;
}

/* RE-USE TEMPLATE */
.modal-header .custom_modal_closs {
  margin-right: 10px;
  display: block;
  margin-top: 4px;
}
/* Template Header Start*/
.container_header_1 .box-title {
  margin-bottom: 0px;
}

.container_header_1 .box-title span {
  color: var(--color-5);
}

.container_header_1 .box__subtitle {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.container_header_1 .box__image {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.container_header_1 .header_edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container_header_1 .button__container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  flex-wrap: wrap;
}

.container_header_1 .button__container .tab_button_style {
  padding: 5px;
  border: 1px solid var(--color-5);
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-5);
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  text-decoration: none;
}

.container_header_1 .button__container .tab_button_style.active {
  color: var(--main-color);
  background-color: var(--color-5);
}

.container_header_1 .button__container .tab_button_style:hover {
  color: var(--main-color);
  background-color: var(--color-5);
}
/* Template Header End*/

/* Template Box Item Start */
.box_item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
  width: 200px;
  border-radius: 20px;
  box-shadow: var(--shadow-white-box);
  margin: 10px 20px;
}

.box_item__container .box_item__header {
  text-align: center;
  font-weight: 600;
  padding: 5px;
  font-size: 1.2rem;
  color: var(--color-5);
  border-bottom: 2px solid rgba(235, 235, 235, 0.774);
}

.box_item__container .box_item__body {
  margin: 15px 10px 15px 10px;
  text-align: center;
  font-size: 0.9rem;
}

.box_item__container .box_item__body .box_body__number {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}

.box_item__container .box_item__body .box_body__number_desc {
  font-weight: 400;
}

.box_item__container .box_item__body .box_body__desc {
  margin-top: 5px;
  color: var(--color-1);
  font-weight: 400;
}

.box_item__container .box_item__footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  margin: 0px 15px 15px 15px;
  cursor: pointer;
}

.box_item__Btn {
  border: 1px solid var(--color-5);
  margin: 2px 0px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 400;
}

.box_item__Btn span {
  margin-left: 5px;
}
.box_item__Btn.selected {
  color: var(--main-color);
  background-color: var(--color-5);
}

.box_item__Btn.selected:hover {
  border: 1px solid var(--color-5);
  color: var(--color-5);
  background-color: var(--main-color);
}

.box_item__Btn.delete__btn {
  color: var(--main-color);
  background-color: var(--color-danger-border);
  border: 1px solid var(--color-danger-border);
}

.box_item__Btn.delete__btn:hover {
  background-color: var(--main-color);
  color: var(--color-danger-border);
  border: 1px solid var(--color-danger-border);
}

.box_item__Btn.edit__btn {
  color: var(--main-color);
  background-color: var(--color-warning-border);
  border: 1px solid var(--color-warning-border);
}

.box_item__Btn.edit__btn:hover {
  background-color: var(--main-color);
  color: var(--color-warning-border);
  border: 1px solid var(--color-warning-border);
}
/* Template Box Item End */

/* Popup Modal Template Start */
.modal-header {
  border-bottom: none;
  padding: 0px;
  margin-top: 10px;
}

.modal-header.format-logo {
  justify-content: center;
}

.modal-header.format-title {
  justify-content: flex-start;
}

.modal-header .modal-logo {
  font-size: 3rem;
  color: var(--color-3);
}

.modal-header .modal-title {
  padding: 1rem 0 0 1rem;
  font-size: 1rem;
}

.modal-body ol {
  font-size: 0.9rem;
}

.modal-footer {
  border-top: none;
  justify-content: center;
  margin-bottom: 10px;
}

.modal-footer.side-position {
  border-top: none;
  justify-content: end;
  margin-bottom: 10px;
}

.modal-footer .button__container .modal-style {
  font-size: 0.9rem;
}
/* Popup Modal Template End */

/* Table Template */
.result-table {
  text-align: center;
}

.heading {
  font-weight: 600;
  margin-top: 20px;
  border-bottom: 0px;
  width: 50px;
}

.result {
  border-radius: 2em;
  box-shadow: var(--shadow-white-table);
}

.result td {
  flex-basis: 10%;
  vertical-align: middle;
}

.result .table_button {
  padding: 5px;
  border: 1px solid var(--color-5);
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-5);
  cursor: pointer;
  text-decoration: none;
}

.result .table_button.active {
  color: var(--main-color);
  background-color: var(--color-5);
}

.result .table_button:hover {
  color: var(--main-color);
  background-color: var(--color-5);
}

/*----------------
Navbar
---------------*/
.navbar {
  height: var(--navbar-height);
  background-color: var(--main-color);
  padding: 10px 0;
  box-shadow: var(--shadow-navbar);
}

.navbar .navbar-brand {
  width: 250px;
  margin-right: 12px;
}

.navbar .navbar-brand.half-navbar-brand {
  width: 50px;
}

.navbar .navbar-brand img {
  display: block;
  margin: auto;
}

.navbar .navbar-brand .half-logo {
  width: 50px;
}

.navbar .navbar-username {
  margin: 5px;
  padding: 2px 10px;
  background: var(--main-color);
  border: 2px solid var(--color-1);
  border-radius: 25px;
  font-size: 0.85rem;
  color: var(--color-1);
  text-align: center;
  font-style: italic;
}

.navbar .navbar-shop {
  margin: 5px;
  padding: 2px 10px;
  background: var(--main-color);
  border: 2px solid var(--color-1);
  border-radius: 25px;
  font-size: 0.85rem;
  color: var(--color-1);
  text-align: center;
}

.navbar .navbar-shop i {
  margin-right: 5px;
}

.navbar .navbar-profil {
  margin-top: auto;
  margin-bottom: auto;
}
.navbar .navbar-profil .border-profil {
  margin: 0px 5px;
  border: 2px solid var(--color-1);
}

/*----------------
Sidebar Nav
---------------*/
.sidebar-nav {
  height: 90vh;
  width: 275px;
  padding-bottom: 100px;
  background-color: var(--main-color);
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
}

.sidebar-nav.admin-style {
  height: 90vh;
  width: 275px;
  padding-bottom: 100px;
  background-color: var(--color-1);
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
}

.sidebar-nav.full {
  z-index: 100;
  transition: all 0.5s ease-in-out;
  transform: translateX(0px);
}

.sidebar-nav.half {
  z-index: 100;
  width: 75px;
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}

.sidebar-nav.hide {
  transform: translateX(-275px);
  transition: all 0.5s ease-in-out;
}

.sidebar-item .sidebar-link .fa-angle-right {
  right: 0px;
  cursor: pointer;
  transition: transform 0.5s;
}

.sidebar-item .sidebar-link .rotate {
  transform: rotate(90deg);
}

.sidebar-nav li .nav-treeview i {
  word-wrap: break-word;
  padding-left: 2.2rem;
}

.hide-menu .fa-angle-right {
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.sidebar-nav .nav-treeview {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

.sidebar-nav .sidebarnav-list {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

.sidebarnav-list .sidebar-item-title {
  background-color: var(--main-color);
  padding: 8px 18px;
  font-weight: 500;
  font-size: 1rem;
}

.sidebarnav-list .sidebar-item .title-sidebar-item {
  background-color: var(--main-color);
  padding: 10px 0px;
}

.sidebarnav-list .sidebar-item {
  background-color: var(--main-color);
  font-weight: 200;
  font-size: 0.9rem;
}

.sidebarnav-list .sidebar-item.admin-style {
  background-color: var(--color-1);
  font-weight: 200;
  font-size: 0.9rem;
}

.sidebarnav-list .sidebar-link:hover {
  background: var(--color-side-active);
  cursor: pointer;
}

.sidebarnav-list .sidebar-link.admin-style:hover {
  background: var(--color-side-hover-2);
  cursor: pointer;
}

.sidebarnav-list .sidebar-link {
  width: 100%;
  padding: 12px 18px;
}

.sidebarnav-list .sidebar-link.active {
  background: var(--color-side-active);
  border-left: 3px solid var(--color-1);
  font-weight: 500;
}

.sidebarnav-list .sidebar-link.admin-style.active {
  background: var(--color-side-active-2);
  border-left: 3px solid var(--main-color);
  font-weight: 500;
}

.nav-treeview.collapse.in {
  display: block;
}

.sidebarnav-list .sidebar-item.last-btn {
  border-bottom: 1px solid var(--color-3);
}

.sidebar-nav .sidebar-link {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.sidebar-nav .sidebar-link.admin-style {
  color: var(--main-color);
  background-color: var(--color-1);
  text-decoration: none;
  display: inline-block;
}

.sidebar-nav .sidebar-link i {
  padding-right: 6px;
  font-size: 1rem;
  vertical-align: baseline;
}
.sidebar-nav .sidebar-link span {
  padding-right: 8px;
  font-size: 0.9rem;
  vertical-align: baseline;
}

.sidebar-nav .sidebar-bottom {
  display: none;
}

.sidebar-bottom .sidebar-profil-container {
  background-color: var(--color-4);
  border-radius: 8px;
  display: flex;
  padding-left: 5px;
}

.sidebar-profil-container .profil-container {
  max-width: 60px;
  margin: 8px;
}

.profil-sidebar {
  width: 100%;
  height: auto;
}

.user-name-container {
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}

.user-name-container .user-name {
  margin: 0px;
}

.user-name-container .sidebar-shop {
  max-width: fit-content;
  padding: 2px 10px;
  background: var(--main-color);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  font-size: 0.85rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.user-name-container .sidebar-shop i {
  margin-right: 5px;
}

.sidebar-item .sidebar-link.half .fa-angle-right {
  display: inline;
}

.sidebarnav-list .sidebar-item-title.half {
  display: block;
}

.sidebarnav-list .sidebar-link.half .hide-menu {
  display: inline;
}

.sidebar-nav .sidebar-link.half i {
  font-size: 1rem;
}

.sidebar-nav li .nav-treeview.half i {
  padding-left: 2.2rem;
}

.sidebar-nav .sidebar-link.half i {
  margin-left: 0px;
}

/*----------------
Main Content
---------------*/
/* Default */
.page-container {
  margin-left: 275px;
  margin-top: var(--navbar-height);
}

.page-container .container-fluid {
  padding-top: 20px;
}

.page-container .white-box {
  background-color: var(--main-color);
  margin: 10px 10px;
  box-shadow: var(--shadow-white-box);
  border-radius: 25px;
  padding: 20px;
}

.page-container .white-box .box-title {
  font-weight: 700;
  font-size: 1.2rem;
}

/* Beranda */
.container-head-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}

.container-head-dashboard .head-content {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 20px;
}

.container-head-dashboard .line-separator.left,
.container-head-dashboard .line-separator.right {
  display: flex;
  align-self: stretch;
  content: "";
  border-radius: 5px;
  border: 1px solid var(--color-3);
}

.container-head-dashboard .head-content .content-img {
  border: 1px solid var(--color-1);
  background-color: var(--color-side-active);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-head-dashboard .head-content .content-name {
  line-height: 1.1;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 0px 12px;
}

.container-head-dashboard .head-content .content-value {
  font-size: 2.2rem;
  font-weight: 800;
}

.container-sosmed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.sosmed-facebook {
  background-color: var(--color-facebook);
  max-width: 400px;
  border-radius: 100px;
  padding: 2px 20px;
  margin: 0px 10px;
  color: var(--main-color);
  font-weight: 500;
  box-shadow: var(--shadow-white-box);
  cursor: pointer;
}

.sosmed-whatsapp {
  background-color: var(--color-whatsapp);
  max-width: 400px;
  border-radius: 100px;
  padding: 2px 20px;
  margin: 0px 10px;
  color: var(--main-color);
  font-weight: 500;
  box-shadow: var(--shadow-white-box);
  cursor: pointer;
}

.sosmed-instagram {
  background-color: var(--color-instagram);
  max-width: 400px;
  border-radius: 100px;
  padding: 2px 20px;
  margin: 0px 10px;
  color: var(--main-color);
  font-weight: 500;
  box-shadow: var(--shadow-white-box);
  cursor: pointer;
}

.sosmed-facebook:hover {
  background-color: var(--main-color);
  border: 1px solid var(--color-facebook);
  box-shadow: 0px 3px 1px var(--color-facebook);
  color: var(--color-facebook);
}

.sosmed-whatsapp:hover {
  background-color: var(--main-color);
  border: 1px solid var(--color-whatsapp);
  box-shadow: 0px 3px 1px var(--color-whatsapp);
  color: var(--color-whatsapp);
}

.sosmed-instagram:hover {
  background-color: var(--main-color);
  border: 1px solid var(--color-instagram);
  box-shadow: 0px 3px 1px var(--color-instagram);
  color: var(--color-instagram);
}

/* SUPER CAMP UTBK */
.box__image .pamflet-content-img {
  width: 100%;
  height: 100%;
  margin: 10px auto;
}

.box__image .pamflet-content-img img {
  width: 100%;
  height: 100%;
}

/* MENU UTBK */
/* Simulasi UTBK Gratis */
.container__body.simulation__free {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.jenis__simulasi__container {
  min-height: 275px;
}

/* Simulasi UTBK Guide */
.footer__simulationfree .button__container {
  display: flex;
  flex-direction: row;
}

.button__container .start__simulation__Btn,
.button__container .close__simulation__Btn {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.8rem;
  color: black;
  font-weight: 400;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: none;
}

.button__container .start__simulation__Btn {
  background-color: var(--color-2);
}

.button__container .start__simulation__Btn:hover {
  border: 1px solid var(--color-1);
}

.button__container .start__simulation__Btn span {
  margin-left: 5px;
}

.button__container .close__simulation__Btn {
  background-color: var(--color-danger);
  margin-left: 10px;
}

.button__container .close__simulation__Btn:hover {
  border: 1px solid var(--color-danger-border);
}

.button__container .close__simulation__Btn span {
  margin-left: 5px;
}

.button__container .close__simulation__Btn i {
  color: var(--color-danger-border);
}

/* HASIL LATIHAN */
.white-box .result_container__header {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 0px 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Result */
.container__body.result__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.result_white-box .simulation-result__tab {
  margin: 0px 20px 5px 20px;
}

.result__container .container_result.large-box {
  width: 650px;
}

.result__container .container_result.small-box {
  width: 250px;
}

.container_result .box_header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px;
}

.box_item__header .header__title-box {
  color: black;
  text-align: start;
  font-weight: 700;
}

.header__title-box .box_header__title {
  font-size: 1.2rem;
}

.header__title-box .box_header__subtitle {
  font-size: 0.8rem;
  font-weight: 400;
}

.question_header .box_desc {
  border-radius: 5px;
  margin-left: 10px;
  padding: 4px;
  font-weight: 600;
}

.question_header .box_desc.active {
  background-color: var(--color-question-number-active);
  color: var(--main-color);
}

.question_header .box_desc.warning {
  background-color: var(--color-danger-border);
  color: var(--main-color);
}

.question_header .box_desc.normal {
  background-color: var(--color-3);
  color: var(--color-6);
}

.container_result.small-box .box_item__header {
  text-align: start;
  font-size: 1.2rem;
  color: black;
}

.question-container .question_header .quest__number {
  font-size: 1.2rem;
  font-weight: 700;
}

.question-container .question_header .quest__subject {
  border-left: 5px solid black;
  padding-left: 5px;
  font-size: 1.2rem;
  color: var(--color-1);
  font-weight: 700;
  margin-left: 5px;
}

.question-container .question_header .quest__report {
  background-color: var(--color-danger);
}

.question-container .question_main {
  border-top: 2px solid var(--color-6);
  border-bottom: 2px solid var(--color-6);
  padding: 10px 0px;
  font-weight: 400;
}

.question-container .answare_main {
  border-bottom: 2px solid var(--color-6);
  padding: 10px 0px;
  font-weight: 600;
}

.question-container .explanation_main {
  padding: 10px 0px;
  font-weight: 400;
}

.question-container .explanation_main .explanation-title {
  font-weight: 600;
  font-size: 1rem;
}

.box_item__container .box_item__body.result_body {
  text-align: start;
}

p {
  word-break: normal;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 2px;
}

.box_item__body.sidebar_body_container {
  display: flex;
  flex-direction: row;
  text-align: start;
  font-weight: 600;
}

.box_item__body.sidebar_body_container > div {
  margin: 5px;
}

.sidebar_body_container .box_desc {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-right: 10px;
}

.sidebar_body_container .box_desc.active {
  background-color: var(--color-question-number-active);
}

.sidebar_body_container .box_desc.warning {
  background-color: var(--color-danger-border);
}

.sidebar_body_container .box_desc.normal {
  background-color: var(--color-3);
}

.sidebar_number .sidebar-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sidebar-body .question__number {
  color: var(--color-6);
  background-color: var(--color-3);
  width: 35px;
  height: 35px;
  margin: 2px;
  padding: 2px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
}

.sidebar-body .question__number.active {
  background-color: var(--color-question-number-active);
  color: var(--main-color);
}

.sidebar-body .question__number.warning {
  background-color: var(--color-danger-border);
  color: var(--main-color);
}

.sidebar-body .question__number.normal {
  background-color: var(--color-3);
  color: var(--color-6);
}

.simulasi-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.simulasi-footer-container .item_next,
.simulasi-footer-container .item_prev {
  font-weight: 600;
  color: var(--color-6);
  background-color: var(--color-3);
  border-radius: 5px;
  margin: 2px;
  padding: 2px 10px;
  cursor: pointer;
  border: 0px;
}

.simulasi-footer-container .item_next:hover,
.simulasi-footer-container .item_prev:hover {
  color: var(--main-color);
  background-color: var(--color-1);
}

.simulasi-footer-container .item_next:disabled,
.simulasi-footer-container .item_prev:disabled {
  color: var(--main-color);
  background-color: var(--color-6);
}

/* Statistik */
.container__body.statistik__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.statistik__container .container_statistik.large-box {
  width: 650px;
  margin: 15px;
  min-height: 120px;
}

.statistik__container .container_statistik.small-box {
  width: 250px;
  min-height: 300px;
  margin: 15px;
}

.statistik__container .container_statistik .box_item__header {
  padding: 10px;
}

.box_item__body.statistik-skor .box_body__title {
  font-weight: 700;
  font-size: 2.5rem;
}

.box_item__body.statistik-skor .box_body__subtitle {
  font-size: 1rem;
}

.box_item__body.statistik-skor.result_base_category .box_body__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
}

.box_item__body.statistik-skor.result_base_category .box_body__subtitle {
  font-size: 1rem;
  margin-top: 5px;
}
.box_item__body.statistik-skor.result_base_category .line-separator {
  border-bottom: 2px solid silver;
  margin: 10px 0px;
}

.pie-chart-wrapper {
  text-align: center;
}

.pie-chart__pie {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px auto 35px;
}

.pie-chart__pie,
.pie-chart__legend {
  display: inline-block;
}

.pie-chart__pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}

.pie-chart__pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  -webkit-animation: bake-pie 1s;
  animation: bake-pie 1s;
}

.slice.s0-0 span {
  background-color: var(--color-question-number-active);
}

.slice.s1-0 span {
  background-color: var(--color-danger-border);
}

.slice.s2-0 span {
  background-color: var(--color-3);
}

.pie-chart__legend .benar-box {
  border-color: var(--color-question-number-active);
}

.pie-chart__legend .salah-box {
  border-color: var(--color-danger-border);
}

.pie-chart__legend .kosong-box {
  border-color: var(--color-3);
}

@-webkit-keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.pie-chart__legend {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: -5px auto;
  background: #fff;
  padding: 0.75em 0.75em 0.05em;
  font-size: 0.8rem;
  box-shadow: var(--shadow-white-box);
  text-align: left;
  width: 80%;
  border-radius: 10px;
}

.pie-chart__legend li {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}

.pie-chart__legend em {
  font-style: normal;
  font-weight: 400;
}

.pie-chart__legend span {
  float: right;
}

/* ---------------
Admin Section
----------------*/
/* Default */
.bank__soalBtn {
  padding: 2px 20px;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--main-color);
  background-color: var(--color-5);
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.bank__soalBtn:hover {
  border: 2px solid var(--color-5);
  color: var(--color-5);
  background-color: var(--main-color);
}

/* Bank Soal - Home Part*/
.bank__soal__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bank__soal__body .soal__type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 20px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  min-height: 200px;
  padding: 10px 10px;
  box-shadow: var(--shadow-white-box);
}

.soal__type .soal__type__title {
  font-size: 1.2rem;
  font-weight: 700;
}

.soal__type .soal__type__number {
  font-size: 2rem;
  font-weight: 900;
}

/* Bank Soal - Input Part */
.fr-element.fr-view {
  height: 200px;
}

.custom-box-title {
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--color-2);
  width: fit-content;
  padding: 8px;
  border-radius: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-gap: 0px;
}

.grid-container.option__style .input__form {
  border-radius: 0px;
  border-left: 0px;
  height: 40px;
  transition: all 0.2s;
}

.grid-container.option__style .input__form:focus {
  box-shadow: none;
}

.grid-container.option__style .input__form.checked {
  background: var(--color-2);
  border: 2px solid var(--color-5);
  border-left: 0px;
  color: black;
  font-weight: 600;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: var(--color-3);
  border: 1px solid #d1d1d1;
  color: rgb(63, 63, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.6s;
}

.checkbox {
  width: 40px;
  height: 40px;
  position: relative;
  font-weight: 400;
}

.checkbox input {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 2;
  appearance: none;
  -webkit-appearance: none;
}

.box p {
  transition: all 0.2s;
}

.checkbox input:checked ~ .box {
  background: var(--color-2);
  border: 2px solid var(--color-5);
  color: black;
  font-weight: 600;
}

/* Bank Soal - Daftar soal part */
.container__title__box.daftar__soal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background: var(--main-color);
  border-bottom: 2px solid var(--color-3);
}

.tabs li {
  display: inline-block;
  margin: 0;
  padding: 10px 20px 5px 20px;
  cursor: pointer;
  font-size: 1em;
  color: black;
  font-weight: 600;
}

.tabs li:hover {
  background: var(--color-5);
  color: var(--main-color);
}

.tabs li.current {
  background: var(--color-5);
  color: var(--main-color);
}

.tab-content {
  display: none;
  background: var(--main-color);
  padding: 15px;
  line-height: 1.4;
}

.tab-content.current {
  display: inherit;
}

/* Quiz - Quiz Part*/
.box_item__footer.simulasi_box_footer {
  flex-direction: column;
}

.box_item__footer.quiz_footer {
  display: flex;
  flex-direction: row;
}

.list_quiz_button {
  padding: 5px 10px;
}

.list_quiz_button-normal {
  padding: 0px 0px;
}

/*----------------
Responsive
---------------*/
@media (min-width: 240px) {
  /* Navbar */
  .navbar .navbar-username {
    display: none;
  }

  .menu-btn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger {
    width: 25px;
    height: 4px;
    background: var(--color-1);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background: var(--color-1);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-8px);
  }

  .menu-btn__burger::after {
    transform: translateY(8px);
  }

  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  /* Main Content */
  /* Beranda */
  .container-head-dashboard {
    flex-direction: column;
  }

  .container-head-dashboard .head-content {
    width: 210px;
    padding: 5px;
  }

  .container-head-dashboard .head-content .content-img {
    width: 50px;
    height: 50px;
  }

  .container-head-dashboard .head-content .content-img img {
    width: 30px;
    height: 30px;
  }

  .container-head-dashboard .head-content .content-name {
    width: 90px;
  }

  .container-sosmed {
    flex-direction: row;
  }

  .container-sosmed .sosmed-facebook,
  .container-sosmed .sosmed-instagram,
  .container-sosmed .sosmed-whatsapp {
    margin: 5px;
  }

  .container-sosmed .sosmed-text {
    display: none;
  }

  /* List Hasil Latihan */
  .result_body .question-container {
    width: calc(100vw - 70px);
    overflow-x: scroll;
  }

  .result-table.list__result {
    overflow-x: scroll;
    padding: 0px 1px;
    margin-top: 10px;
  }

  /* Result Box */
  .page-container .result_white-box {
    margin: 0px;
    padding: 0px;
  }

  .page-container {
    margin-left: 0px;
  }

  .result__container .container_result.large-box {
    width: 1240px;
    margin: 10px 10px;
  }

  .result__container .container_result.small-box {
    width: 1240px;
    margin: 10px 10px;
  }

  .question-container .question_header .quest__number {
    font-size: 1rem;
  }

  .question-container .question_header .quest__subject {
    font-size: 1rem;
  }

  .box_desc.box_desc-box {
    display: none;
  }

  .custom-alert {
    padding: 1px 5px;
    border-radius: 100%;
  }

  .alert__box .alert-text_danger {
    display: none;
  }

  .tab_button_style .pembahasan-tab,
  .tab_button_style .statistik-tab {
    display: none;
  }

  .hasil_btn.tab_button_style.pembahasan,
  .hasil_btn.tab_button_style.statistik {
    padding: 5px 8px;
    margin-right: 5px;
  }

  .simulasi-footer-container .item_next,
  .simulasi-footer-container .item_prev {
    margin: 5px;
  }

  .simulasi-footer-container .item_next-text,
  .simulasi-footer-container .item_prev-text {
    display: none;
  }

  .box_item__body.sidebar_body_container {
    flex-direction: column;
  }

  /* Sidebar Nav */
  .sidebar-item .sidebar-link .fa-angle-right {
    display: inline;
  }

  .sidebarnav-list .sidebar-item-title {
    display: block;
  }

  .sidebarnav-list .sidebar-link .hide-menu {
    display: inline;
  }

  .sidebar-nav .sidebar-link i {
    font-size: 1rem;
    margin-left: 0px;
  }

  .sidebar-nav .sidebar-bottom {
    display: block;
    margin: 0px 15px;
  }

  .sidebar-nav li .nav-treeview i {
    font-size: 1rem;
    padding-left: 2.2rem;
  }
}

@media (min-width: 420px) {
  /* Sidebar Nav */
  .sidebar-item .sidebar-link .fa-angle-right {
    display: none;
  }

  .sidebarnav-list .sidebar-item-title {
    display: none;
  }

  .sidebarnav-list .sidebar-link .hide-menu {
    display: none;
  }

  .sidebar-nav .sidebar-link i {
    font-size: 1.3rem;
    margin-right: 0;
    margin-left: 7px;
  }

  .sidebar-nav li .nav-treeview i {
    font-size: 1.3rem;
    padding-left: 0px;
  }

  .sidebar-nav .sidebar-bottom.half {
    display: block;
    margin: 0px 15px;
  }

  /* Main Content */
  .result_body .question-container {
    width: calc(100vw - 150px);
    overflow-x: scroll;
  }

  .page-container {
    margin-left: 75px;
  }

  .box_item__body.sidebar_body_container {
    flex-direction: row;
  }
}

@media (min-width: 480px) {
  /* Navbar */
  .navbar .navbar-username {
    display: inline;
  }

  .simulasi-footer-container .item_next-text,
  .simulasi-footer-container .item_prev-text {
    display: inline;
  }

  .custom-alert {
    font-size: 0.8rem;
    padding: 0px 10px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    font-weight: 400;
  }

  .alert__box .alert-text_danger {
    display: inline;
  }
}

@media (min-width: 540px) {
  .tab_button_style .pembahasan-tab,
  .tab_button_style .statistik-tab {
    display: inline;
  }
}

@media (min-width: 640px) {
  /* Beranda */
  .container-sosmed {
    flex-direction: row;
  }

  .container-head-dashboard .head-content .content-name {
    width: fit-content;
  }

  .container-sosmed .sosmed-facebook,
  .container-sosmed .sosmed-whatsapp,
  .container-sosmed .sosmed-instagram {
    margin: 5px;
  }

  .container-head-dashboard {
    flex-direction: row;
  }

  .container-sosmed .sosmed-text {
    display: inline;
  }

  .container-head-dashboard .head-content {
    width: 210px;
  }

  .container-head-dashboard .head-content .content-img {
    width: 40px;
    height: 40px;
  }

  .container-head-dashboard .head-content .content-img img {
    width: 20px;
    height: 20px;
  }

  .container-head-dashboard .head-content .content-name {
    font-size: 0.65rem;
    margin: 0px 8px;
  }

  .container-head-dashboard .head-content .content-value {
    font-size: 1.8rem;
  }
}

@media (min-width: 645px) {
  .container-head-dashboard .head-content {
    width: fit-content;
  }

  /* SUPER CAMP UTBK */
  .box__image .pamflet-content-img {
    width: 45%;
    height: 45%;
  }

  .box__image .pamflet-content-img img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 769px) {
  /* Navbar */
  .menu-btn {
    display: none;
  }

  /* Main Content */
  .page-container {
    margin-left: 275px;
    margin-top: var(--navbar-height);
  }

  /* Sidebar */
  .sidebar-item .sidebar-link .fa-angle-right {
    display: inline;
    padding-right: 6px;
    margin-right: 5px;
  }

  /* Beranda */
  .container-head-dashboard .head-content {
    padding: 20px;
  }

  .sidebarnav-list .sidebar-item-title {
    display: block;
  }

  .sidebarnav-list .sidebar-link .hide-menu {
    display: inline;
  }

  .sidebar-nav .sidebar-link i {
    font-size: 1rem;
    margin-left: 0px;
  }

  .sidebar-nav .sidebar-bottom {
    display: block;
    margin: 0px 15px;
  }

  .sidebar-nav li .nav-treeview i {
    font-size: 1rem;
    padding-left: 2.2rem;
  }

  /* Main Content */
  .result_body .question-container {
    width: calc(100vw - 340px);
    overflow-x: scroll;
  }
}

@media (min-width: 1020px) {
  .container-head-dashboard .head-content .content-img {
    border: 1px solid var(--color-1);
    background-color: var(--color-side-active);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-head-dashboard .head-content .content-img img {
    width: 30px;
    height: 30px;
  }

  .container-head-dashboard .head-content .content-name {
    font-size: 0.95rem;
    line-height: 1.1;
    margin: 0px 12px;
    font-weight: 500;
  }

  .container-head-dashboard .head-content .content-value {
    font-size: 2.2rem;
    font-weight: 800;
  }
}

@media (min-width: 1340px) {
  /* Main Content */
  .result_body .question-container {
    width: 730px;
    overflow-x: scroll;
  }

  .result__container .container_result.large-box {
    width: 750px;
  }

  .result__container .container_result.small-box {
    width: 250px;
    max-height: 750px;
  }

  .box_item__body.sidebar_body_container {
    flex-direction: column;
  }
}
