/*----------------
Fonts
---------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*----------------
Global Css
---------------*/
:root {
  --main-color: #ffffff;
  --color-1: #004aad;
  --color-2: #cfe3f2;
  --color-3: #dedede;
  --color-4: #f0f0f0;
  --color-5: #838383;
  --color-6: #13a1dd;
  --color-danger: rgb(250, 178, 178);
  --color-side-active: #f4f7fa;
  --color-side-active-2: #0045a1;
  --color-side-hover-2: #0c55b8;
  --color-danger-border: rgb(255, 0, 0);
  --color-danger: rgb(250, 178, 178);
  --color-warning-border: rgb(255, 208, 0);
  --color-warning: rgb(250, 231, 178);
  --color-bg: #e1dede;
  --color-question-number-active: rgba(5, 184, 77, 0.64);
  --color-facebook: #0997ff;
  --color-whatsapp: #05b84d;
  --color-instagram: #ff098e;
  --navbar-height: 90px;
  --shadow-navbar: 0px 2px 7px rgba(0, 0, 0, 0.25);
  --shadow-white-box: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 100;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--color-bg);
  scrollbar-width: thin;
  scrollbar-color: var(--color-1) var(--main-color);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb {
  background: var(--color-1);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1470e9;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

.alert__box {
  font-size: 0.8rem;
  padding: 0px 10px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  font-weight: 400;
}

/* RE-USE TEMPLATE */
/* Popup Modal */
.modal-header {
  border-bottom: none;
  padding: 0px;
  margin-top: 10px;
}

.modal-header.format-logo {
  justify-content: center;
}

.modal-header.format-title {
  justify-content: flex-start;
}

.modal-header .modal-logo {
  font-size: 3rem;
  color: var(--color-3);
}

.modal-header .modal-logo.notif-style {
  color: var(--color-6);
}

.modal-header .modal-title {
  padding: 1rem 0 0 1rem;
  font-size: 1rem;
}

.modal-body ol {
  font-size: 0.9rem;
}

.modal-body.notif-style {
  text-align: center;
  font-size: 1rem;
  color: var(--color-6);
  font-weight: 400;
}

.modal-body.notif-style .text-notif.title-style {
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-1);
  border: 2px solid var(--color-1);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.modal-body.notif-style .timer-style i {
  text-align: center;
  font-size: 3rem;
  color: var(--color-1);
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0px;
}

.modal-body.notif-style .timer-style .session-timer {
  text-align: center;
  color: var(--color-1);
  font-size: 1.8rem;
  margin-top: 0px;
  font-weight: 500;
}

.modal-footer {
  border-top: none;
  justify-content: center;
  margin-bottom: 10px;
}

.modal-footer .button__container .modal-style {
  font-size: 0.9rem;
}

.footer__simulationfree .button__container {
  display: flex;
  flex-direction: row;
}

.button__container .start__simulation__Btn,
.button__container .close__simulation__Btn {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.8rem;
  color: black;
  font-weight: 400;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: none;
}

.button__container .start__simulation__Btn {
  background-color: var(--color-2);
}

.button__container .start__simulation__Btn:hover {
  border: 1px solid var(--color-1);
}

.button__container .start__simulation__Btn span {
  margin-left: 5px;
}

.button__container .close__simulation__Btn {
  background-color: var(--color-danger);
  margin-left: 10px;
}

.button__container .close__simulation__Btn:hover {
  border: 1px solid var(--color-danger-border);
}

.button__container .close__simulation__Btn span {
  margin-left: 5px;
}

.button__container .close__simulation__Btn i {
  color: var(--color-danger-border);
}

/*----------------
Navbar
---------------*/
.navbar {
  height: var(--navbar-height);
  background-color: var(--main-color);
  padding: 10px 0;
  box-shadow: var(--shadow-navbar);
}

.navbar .navbar-brand {
  width: 250px;
  margin-right: 12px;
}

.navbar .navbar-brand.half-navbar-brand {
  width: 50px;
}

.navbar .navbar-brand img {
  display: block;
  margin: auto;
}

.navbar .navbar-brand .half-logo {
  width: 50px;
}

.navbar-title-container {
  display: flex;
  flex-direction: column;
  border-left: 4px solid black;
  padding-left: 10px;
}

.navbar-title-container .navbar-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 1.2rem;
}

.navbar-title-container .title_simulation_test {
  font-size: 0.7rem;
  margin-left: 5px;
  border-radius: 5px;
  border: 2px solid var(--color-1);
  color: var(--color-1);
  font-weight: 700;
  width: fit-content;
  padding: 0px 10px;
}

.navbar-title-container .navbar-subtitle {
  background-color: var(--color-2);
}

/*----------------
Sidebar Nav
---------------*/
.sidebar-nav {
  min-height: 200px;
  width: 275px;
  background-color: var(--main-color);
  position: fixed;
  right: 0px;
  margin: 0px 10px 0px 10px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: var(--shadow-white-box);
  padding: 20px;
}

.sidebar-nav .sidebar-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.sidebar-body .question__number {
  color: var(--color-5);
  background-color: var(--color-3);
  width: 35px;
  height: 35px;
  margin: 2px;
  padding: 2px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
}

.sidebar-body .question__number.active {
  background-color: var(--color-question-number-active);
  color: var(--main-color);
}

.sidebar-body .question__number.warning {
  background-color: var(--color-danger-border);
  color: var(--main-color);
}

/*----------------
Main Content
---------------*/
/* Default */
.page-container {
  margin-right: 285px;
  margin-top: var(--navbar-height);
}

.page-container .white-box {
  background-color: var(--main-color);
  margin: 0px 10px 10px 10px;
  box-shadow: var(--shadow-white-box);
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
}

.page-container .white-box .box-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.page-container .simulasi-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.simulasi-header-container .timer__countdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--color-1);
  margin-right: 35px;
}

.simulasi-header-container .timer__countdown span {
  margin-left: 5px;
}

.question-container .question_header .quest__number {
  font-size: 1.2rem;
  font-weight: 700;
}

.question-container .question_header .quest__subject {
  border-left: 5px solid black;
  padding-left: 5px;
  font-size: 1.2rem;
  color: var(--color-1);
  font-weight: 700;
  margin-left: 5px;
}

.question-container .question_header .quest__report {
  background-color: var(--color-danger);
}

.question-container .question_main {
  border-top: 2px solid var(--color-5);
  border-bottom: 2px solid var(--color-5);
  padding: 10px 0px;
  font-weight: 400;
}

.simulasi-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.simulasi-footer-container .item_next,
.simulasi-footer-container .item_prev {
  font-weight: 600;
  color: var(--color-5);
  background-color: var(--color-3);
  border-radius: 5px;
  margin: 2px;
  padding: 2px 10px;
  cursor: pointer;
  border: 0px;
}

.simulasi-footer-container .item_next:hover,
.simulasi-footer-container .item_prev:hover {
  color: var(--main-color);
  background-color: var(--color-1);
}

.simulasi-footer-container .item_next:disabled,
.simulasi-footer-container .item_prev:disabled {
  color: var(--main-color);
  background-color: var(--color-5);
}

/* ---------------
Admin Section
----------------*/
/* Bank Soal-Input Part */
.fr-element.fr-view {
  height: 200px;
}

.custom-box-title {
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--color-2);
  width: fit-content;
  padding: 8px;
  border-radius: 12px;
}

/*----------------
Responsive
---------------*/

@media (max-width: 1020px) {
}

@media (max-width: 932px) {
}

@media (max-width: 840px) {
}

@media (max-width: 768px) {
}

@media (max-width: 620px) {
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}
